@font-face {
	font-family: "helvetica_rounded_lt_stdblack";
	src: url("fonts/helveticaroundedltstd-black-webfont.woff2") format("woff2"),
		url("fonts/helveticaroundedltstd-black-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "helvetica_neue_lt_std65Md";
	src: url("fonts/helveticaneueltstd-md-webfont.woff2") format("woff2"),
		url("fonts/helveticaneueltstd-md-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}
/*algemeen*/

body {
	background-image: url(images/brick-wall.png);
	background-size: cover;
	background-position: center;
	font-family: "helvetica_neue_lt_std65Md", sans-serif;
	overflow-x: hidden;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

.wrapper {
	width: 85%;
	margin: 0 auto;
}

h1 {
	font-family: "helvetica_rounded_lt_stdblack", sans-serif;
	font-size: 54pt;
}

h2 {
	font-family: "helvetica_rounded_lt_stdblack", sans-serif;
	font-size: 36pt;
}

h3 {
	font-family: "helvetica_rounded_lt_stdblack", sans-serif;
	font-size: 20pt;
}

p {
	font-size: 18pt;
}

nav a {
	text-decoration: none;
}

a {
	color: #c3382f;
}

/* navigatie */

nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

nav li {
	display: inline;
	margin: 0 20px;
}

nav li a {
	color: #c3382f;
	font-family: "helvetica_rounded_lt_stdblack", sans-serif;
}

nav li a:hover {
	color: #000;
}

nav img {
	width: 50%;
	margin-top: 30px;
}

nav ul li:nth-child(9) a,
nav ul li:nth-child(7) a {
	color: #000;
}

nav ul li:nth-child(9),
nav ul li:nth-child(7),
nav ul li:nth-child(8) {
	margin: 0px;
}

.active {
	padding: 10px;
	background-color: #c7d770;
	border-radius: 30px;
}

.nav {
	padding: 1px 10px;
}

header {
	text-align: center;
}

.house {
	width: 100%;
}

.flex {
	display: flex;
}

.sponsors {
	display: flex;
	justify-content: space-around;
}

.sponsors img {
	width: 80%;
}

.align-center {
	display: block;
	margin: 0 auto;
}

.location {
	border: 15px solid #c3382f;
	border-radius: 10px;
	margin-left: 42vh;
}

@media screen and (max-width: 768px) {
	.flex div {
		flex-wrap: wrap;
		flex: 1;
	}
}
