@font-face {
	font-family: "helvetica_rounded_lt_stdblack";
	src: url("fonts/helveticaroundedltstd-black-webfont.woff2") format("woff2"),
		url("fonts/helveticaroundedltstd-black-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "helvetica_neue_lt_std65Md";
	src: url("fonts/helveticaneueltstd-md-webfont.woff2") format("woff2"),
		url("fonts/helveticaneueltstd-md-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}
/*algemeen*/

body {
	background-position: center;
	font-family: "helvetica_neue_lt_std65Md", sans-serif;
	overflow-x: hidden;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

.wrapper {
	width: 85%;
	margin: 0 auto;
}

h3 {
	font-family: "helvetica_rounded_lt_stdblack", sans-serif;
	font-size: 20pt;
	margin-bottom: 0;
}

p {
	font-size: 15pt;
	margin: 0% 0 11% 0;
}

a {
	color: #c3382f;
}

/* navigatie */

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav div {
	display: flex;
}

nav li {
	display: inline-block;
	margin: 1.5% 30px;
}

nav ul {
	text-align: center;
	padding: 0;
}

nav li a {
	color: #c3382f;
	font-family: "helvetica_rounded_lt_stdblack", sans-serif;
	text-decoration: none;
}

nav img {
	width: 80%;
	margin: 10px 0px;
}

.nl-fr a,
nav li a:hover {
	color: #000;
}

.nl-fr li {
	margin: 0px;
}

.nl-fr {
	padding: 0;
	margin-top: 5%;
	display: inline;
}

.wrapper-navigation {
	background-image: url(images/nav-bricks.png);
}

.active {
	padding: 10px;
	background-color: #c7d770;
	border-radius: 30px;
}

.nav {
	padding: 1px 10px;
}

header {
	text-align: center;
}

.house {
	width: 100%;
	margin-top: 1.5%;
}

.bottom-streep {
	margin-top: 5%;
	width: 100%;
}

.flex {
	display: flex;
	justify-content: space-between;
}

.map {
	width: 60%;
}

.sponsors {
	display: flex;
	justify-content: space-around;
}

.sponsors img {
	width: 80%;
}

.align-center {
	display: block;
	margin: 0 auto;
}

.location {
	border: 15px solid #c3382f;
	border-radius: 10px;
	height: 90%;
	width: 95%;
	margin-top: 2%;
}

@media screen and (max-width: 768px) {
	p {
		font-size: 10pt;
	}

	h3 {
		font-size: 20pt;
	}

	.flex div {
		width: 100%;
	}
	.flex {
		flex-wrap: wrap;
		flex: 1;
	}
	.location {
		margin: 0;
		height: 140%;
		width: 80%;
	}
	.align-center {
		margin-top: 25%;
	}
	.sponsors a {
		width: 30%;
	}
	.sponsors {
		flex-wrap: wrap;
	}
}

@media screen and (max-width: 468px) {
	.align-center {
		margin-top: 35%;
	}
}
