@font-face {
	font-family: "helvetica_rounded_lt_stdblack";
	src: url("fonts/helveticaroundedltstd-black-webfont.woff2") format("woff2"),
		url("fonts/helveticaroundedltstd-black-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "helvetica_neue_lt_std65Md";
	src: url("fonts/helveticaneueltstd-md-webfont.woff2") format("woff2"),
		url("fonts/helveticaneueltstd-md-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

body {
	margin: 0 auto;
	overflow-x: hidden;
	font-family: "helvetica_neue_lt_std65Md", sans-serif;
}

.wrapper {
	width: 85%;
	margin: 0 auto;
}

html {
	scroll-behavior: smooth;
}

/* NAVIGATION */
nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-image: url(images/nav-bricks.png);
}

nav li {
	display: inline;
	margin: 0 20px;
}

nav li a {
	color: #c3382f;
	text-decoration: none;
	font-family: "helvetica_rounded_lt_stdblack", sans-serif;
}

nav img {
	width: 50%;
	margin-top: 15px;
}

nav ul li:last-child a,
nav ul li:nth-child(7) a,
nav li a:hover {
	color: #000;
}

nav ul li:nth-child(9),
nav ul li:nth-child(7),
nav ul li:nth-child(8) {
	margin: 0px;
}

.active {
	padding: 10px;
	background-color: #c7d770;
	border-radius: 30px;
}

.home-button {
	padding: 1px 10px;
}

/* TYPOGRAPHY */
h1 {
	font-family: "helvetica_rounded_lt_stdblack", sans-serif;
	font-size: 100pt;
	color: #c3382f;
}

h2 {
	font-family: "helvetica_rounded_lt_stdblack", sans-serif;
	font-size: 36pt;
}

h3 {
	font-family: "helvetica_rounded_lt_stdblack", sans-serif;
	color: #c3382f;
	font-size: 25pt;
	margin: -10% 0% 0% 20%;
}

p {
	font-family: "helvetica_neue_lt_std65Md", sans-serif;
	font-size: 18pt;
}

a {
	font-family: "helvetica_neue_lt_std65Md", sans-serif;
	color: #c3382f;
}

/*BODY*/
.intro-house {
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-flow: row-reverse;
	justify-content: space-evenly;
	margin-bottom: 5%;
	margin-top: 5%;
}

.house {
	width: 100%;
	margin-bottom: 10%;
}

.vrede {
	width: 200%;
	position: relative;
	margin-top: -25%;
}

.vrede-streep {
	width: 185%;
	height: 7%;
	position: relative;
	margin-top: 45%;
}

.doelgroep {
	display: flex;
	margin-bottom: 5%;
}

.doelgroep-text {
	margin: 0% 5% 0% 10%;
}

.huis-vrede {
	margin-left: 5%;
	margin-bottom: 6%;
}

.historiek {
	display: flex;
	flex-flow: row-reverse;
}

.historiek-text {
	margin-left: 5%;
}

.lees-meer {
	color: #000;
	background-color: #c7d770;
	padding: 10px 15px;
	border-radius: 20px;
	text-decoration: none;
	font-family: "helvetica_rounded_lt_stdblack", sans-serif;
}

.bottom-streep {
	width: 100%;
	margin-bottom: 2%;
}

.sponsors {
	display: flex;
	justify-content: space-around;
}

.sponsors img {
	width: 80%;
}

/*historiek*/
.carousel {
	margin: -50px 5% 5% 5%;
}
.images_out_1 {
	width: 510px;
	height: 400px;
	overflow: hidden;
	border: 15px solid #c7d770;
	border-radius: 8px;
	margin: 25px;
}
.images_in_1 {
	display: flex;
	animation-duration: 15s;
	animation-name: before_after;
	animation-iteration-count: infinite;
}
@keyframes before_after {
	0% {
		transform: translateX(0px);
	}
	25% {
		transform: translateX(-530px);
	}
	50% {
		transform: translateX(-1060px);
	}
	75% {
		transform: translateX(-1580px);
	}
	100% {
		transform: translateX(-2100px);
	}
}
.video-container {
	width: 95%; /* Largeur à 80% de la largeur de l'écran */
	height: 90vh; /* Hauteur à 45% de la hauteur de l'écran */
	overflow: hidden;
	margin: 0; /* Supprime la marge par défaut */
	position: relative;
	left: 5; /* Déplacement de 10% vers la gauche */
	border: 4px solid #c7d770; /* Ajout d'une bordure noire de 2 pixels */
	margin-bottom: 80px;
}

/*RESPONSIVE*/
@media screen and (max-width: 376px) {
	h1 {
		font-size: 30pt;
	}

	h3 {
		text-align: center;
		font-size: 15pt;
		margin-top: 80%;
		width: 200%;
		margin-left: -3%;
		margin-bottom: 110%;
	}

	.vrede {
		margin-top: -25%;
		width: 200%;
		text-align: center;
	}

	.house {
		margin-right: 50%;
		width: 100%;
		height: 55%;
		margin-left: -50%;
	}

	.intro-text {
		margin: -5% 0% 0% 50%;
	}

	.vrede-streep {
		width: 185%;
		height: 3%;
		margin-top: 80%;
		margin-left: 8%;
	}

	.vrede-streep2 {
		width: 70%;
		height: 3%;
		position: relative;
		margin-top: 18%;
		margin-left: 65%;
	}

	h2 {
		font-size: 20pt;
	}

	.huis-vrede {
		width: 50%;
		height: 50%;
		margin: 0% 0% -2% 25%;
	}

	.doelgroep {
		flex-flow: column;
	}

	.doelgroep-text {
		text-align: center;
		margin: 0% 0% 20% 4%;
	}

	p {
		font-size: 10pt;
		margin-bottom: 10%;
	}

	.historiek {
		flex-flow: column;
	}

	.historiek-text {
		text-align: center;
		width: 90%;
		margin: -10% 0% 0% 5%;
	}

	a {
		font-size: 10pt;
	}

	.bottom-streep {
		margin-top: 10%;
	}

	.carousel {
		margin-left: -10%;
		margin-top: 3%;
	}

	.images_out_1 {
		width: 90%;
	}

	/*HAMBURGER MENU*/
	/*❌*/
}
