@font-face {
	font-family: "helvetica_rounded_lt_stdblack";
	src: url("fonts/helveticaroundedltstd-black-webfont.woff2") format("woff2"),
		url("fonts/helveticaroundedltstd-black-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "helvetica_neue_lt_std65Md";
	src: url("fonts/helveticaneueltstd-md-webfont.woff2") format("woff2"),
		url("fonts/helveticaneueltstd-md-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

body {
	margin: 0 auto;
	overflow-x: hidden;
	font-family: "helvetica_neue_lt_std65Md", sans-serif;
}

.wrapper {
	width: 85%;
	margin: 0 auto;
}

html {
	scroll-behavior: smooth;
}

/* NAVIGATION */
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav div {
	display: flex;
	align-items: center;
}

nav div:first-child {
	flex: 1;
}

nav div:last-child {
	flex: 4;
	justify-content: right;
}

nav li {
	display: inline-block;
	margin: 1.5% 30px;
}

nav ul {
	text-align: center;
	padding: 0;
}

nav li a {
	color: #c3382f;
	font-family: "helvetica_rounded_lt_stdblack", sans-serif;
	text-decoration: none;
}

nav img {
	margin: 10px 0px;
}

.nl-fr a,
nav li a:hover {
	color: #000;
}

.nl-fr li {
	margin: 0px;
}

.nl-fr {
	padding: 0;
	display: inline;
}

.wrapper-navigation {
	background-image: url(images/nav-bricks.png);
}

.active {
	padding: 10px;
	background-color: #c7d770;
	border-radius: 30px;
}

.nav {
	padding: 1px 10px;
}

/* TYPOGRAPHY */
h1 {
	font-family: "helvetica_rounded_lt_stdblack", sans-serif;
	font-size: 100pt;
}

h2 {
	font-family: "helvetica_rounded_lt_stdblack", sans-serif;
	font-size: 36pt;
}

p {
	font-family: "helvetica_neue_lt_std65Md", sans-serif;
	font-size: 15pt;
}

a {
	font-family: "helvetica_neue_lt_std65Md", sans-serif;
	color: #c3382f;
}

/*BODY*/
.roof {
	width: 100%;
	margin-top: 1.5%;
}

.support-title {
	text-align: center;
}

.support-us {
	display: flex;
	flex-flow: row-reverse;
}

.support-us-text {
	width: 50%;
	margin: 0 0 5% 0;
}

.banner {
	width: 50%;
	height: 50%;
	margin-left: 5%;
	margin-bottom: 2%;
}

.bottom-stripe {
	width: 100%;
	margin-bottom: 2%;
}

.sponsors {
	display: flex;
	justify-content: space-around;
}

.sponsors img {
	width: 80%;
}

.hamburger {
	display: none;
}

#hider {
	display: contents;
}

/*RESPONSIVE*/

@media screen and (max-width: 1113px) {
	#hider {
		display: none;
	}

	.hamburger {
		display: flex;
	}

	nav {
		padding-bottom: 20px;
	}

	ul {
		display: flex;
		flex-direction: column;
	}

	.nl-fr {
		margin-left: 50px;
	}
}

@media screen and (max-width: 750px) {
	.banner {
		width: 100%;
		margin: 0 auto;
	}

	.support-us {
		flex-direction: column;
	}

	.support-us-text {
		width: 100%;
		margin: 0 auto;
	}
}
