@font-face {
	font-family: "helvetica_rounded_lt_stdblack";
	src: url("fonts/helveticaroundedltstd-black-webfont.woff2") format("woff2"),
		url("fonts/helveticaroundedltstd-black-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "helvetica_neue_lt_std65Md";
	src: url("fonts/helveticaneueltstd-md-webfont.woff2") format("woff2"),
		url("fonts/helveticaneueltstd-md-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

body {
	margin: 0 auto;
	overflow-x: hidden;
	font-family: "helvetica_neue_lt_std65Md", sans-serif;
}

.wrapper {
	width: 85%;
	margin: 0 auto;
}

html {
	scroll-behavior: smooth;
}

/* NAVIGATION */
nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-image: url(images/nav-bricks.png);
}

nav li {
	display: inline;
	margin: 0 20px;
}

nav li a {
	color: #c3382f;
	text-decoration: none;
	font-family: "helvetica_rounded_lt_stdblack", sans-serif;
}

nav img {
	width: 50%;
	margin-top: 15px;
}

nav ul li:last-child a,
nav ul li:nth-child(7) a,
nav li a:hover {
	color: #000;
}

nav ul li:nth-child(9),
nav ul li:nth-child(7),
nav ul li:nth-child(8) {
	margin: 0px;
}

.active {
	padding: 10px;
	background-color: #c7d770;
	border-radius: 30px;
}

.support-us-button {
	padding: 1px 10px;
}

/* TYPOGRAPHY */
h1 {
	font-family: "helvetica_rounded_lt_stdblack", sans-serif;
	font-size: 100pt;
}

h2 {
	font-family: "helvetica_rounded_lt_stdblack", sans-serif;
	font-size: 36pt;
}

p {
	font-family: "helvetica_neue_lt_std65Md", sans-serif;
	font-size: 18pt;
}

a {
	font-family: "helvetica_neue_lt_std65Md", sans-serif;
	color: #c3382f;
}

/*BODY*/
.roof {
	width: 100%;
	margin-top: 1.5%;
}

.support-us {
	display: flex;
	flex-flow: row-reverse;
}

.support-us-text {
	width: 50%;
	margin: 6% 0 12% 0;
}

.banner {
	width: 50%;
	height: 50%;
	margin-top: 8%;
	margin-left: 5%;
}

.bottom-stripe {
	width: 100%;
	margin-bottom: 2%;
}

.sponsors {
	display: flex;
	justify-content: space-around;
}

.sponsors img {
	width: 80%;
}

/*RESPONSIVE*/
@media screen and (max-width: 376px) {
	p {
		font-size: 14pt;
	}

	.support-us {
		display: flex;
		flex-flow: column;
	}

	.banner {
		margin-left: 10%;
		width: 80%;
	}

	.support-us-text {
		text-align: center;
		width: 100%;
	}
	/*HAMBURGER MENU*/
	/*❌*/
}
