@font-face {
	font-family: "helvetica_rounded_lt_stdblack";
	src: url("fonts/helveticaroundedltstd-black-webfont.woff2") format("woff2"),
		url("fonts/helveticaroundedltstd-black-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "helvetica_neue_lt_std65Md";
	src: url("fonts/helveticaneueltstd-md-webfont.woff2") format("woff2"),
		url("fonts/helveticaneueltstd-md-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

* {
	font-family: "helvetica_neue_lt_std65Md", sans-serif;
	scroll-behavior: smooth;
}
.wrapper {
	width: 85%;
	margin: 0 auto;
}

body {
	font-family: "helvetica_neue_lt_std65Md", sans-serif;
	overflow-x: hidden;
	margin: 0;
}

/* TYPOGRAPHY */
h1 {
	font-family: "helvetica_rounded_lt_stdblack", sans-serif;
	font-size: 54pt;
}

h2 {
	font-family: "helvetica_rounded_lt_stdblack", sans-serif;
	font-size: 36pt;
}

h3 {
	font-family: "helvetica_rounded_lt_stdblack", sans-serif;
}

p {
	font-family: "helvetica_neue_lt_std65Md", sans-serif;
	font-size: 18pt;
}

a {
	font-family: "helvetica_neue_lt_std65Md", sans-serif;
	color: #fff;
	text-decoration: none;
}

/* NAVIGATION */
nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

nav li {
	list-style-type: none;
	display: inline;
	margin: 0 20px;
}

nav li a {
	color: #c3382f;
	text-decoration: none;
	font-family: "helvetica_rounded_lt_stdblack", sans-serif;
}

nav li a:hover,
nav ul li:nth-child(9) a,
nav ul li:nth-child(7) a {
	color: black;
}

nav img {
	width: 50%;
	margin-top: 30px;
}

nav ul li:nth-child(9),
nav ul li:nth-child(7),
nav ul li:nth-child(8) {
	margin: 0px;
}

.active {
	padding: 10px;
	background-color: #c7d770;
	border-radius: 30px;
}

.werking-btn {
	padding: 1px 10px;
}

.chest {
	width: 40%;
	height: 40%;
	border: 15px solid #c7d770;
	border-radius: 8px;
	margin-top: 10%;
}

.doelgroep {
	display: flex;
	flex-flow: row;
	margin-bottom: 8%;
}

header,
.verloop {
	text-align: center;
}

header img {
	width: 100%;
}

.verloop h2 {
	margin-top: -1.5%;
}

.verloop p {
	width: 75%;
	margin: 0 auto;
}

.kitchen {
	width: 40%;
	border: 15px solid #c3382f;
	border-radius: 8px;
	margin-bottom: 8%;
	margin-top: 3%;
}

.carousel {
	margin: 0 0 8% 20%;
}

.images_out {
	width: 700px;
	height: 400px;
	overflow: hidden;
	border: 15px solid #c3382f;
	margin: 25px;
	border-radius: 8px;
}

.images_in {
	display: flex;
	animation-duration: 15s;
	animation-name: before_after;
	animation-iteration-count: infinite;
}

@keyframes before_after {
	0% {
		transform: translateX(0px);
	}
	20% {
		transform: translateX(-700px);
	}
	40% {
		transform: translateX(-1400px);
	}
	60% {
		transform: translateX(-2100px);
	}
	80% {
		transform: translateX(-2800px);
	}
	100% {
		transform: translateX(0px);
	}
}
.doel {
	display: flex;
	margin-bottom: 7%;
}

.doel .carousel_2 {
	width: 50%;
	margin-top: 2%;
}

.doel div {
	width: 70%;
}

.out2 {
	width: 400px;
	height: 650px;
	border-color: #c7d770;
}

.bottom-streep {
	width: 100%;
	margin-bottom: 2%;
}

.sponsors {
	display: flex;
	justify-content: space-around;
}

.sponsors img {
	width: 80%;
}
