@font-face {
	font-family: "helvetica_rounded_lt_stdblack";
	src: url("fonts/helveticaroundedltstd-black-webfont.woff2") format("woff2"),
		url("fonts/helveticaroundedltstd-black-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "helvetica_neue_lt_std65Md";
	src: url("fonts/helveticaneueltstd-md-webfont.woff2") format("woff2"),
		url("fonts/helveticaneueltstd-md-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

* {
	font-family: "helvetica_neue_lt_std65Md", sans-serif;
	scroll-behavior: smooth;
}
.wrapper {
	width: 85%;
	margin: 0 auto;
}

body {
	font-family: "helvetica_neue_lt_std65Md", sans-serif;
	overflow-x: hidden;
	margin: 0;
}

/* TYPOGRAPHY */
h1 {
	font-family: "helvetica_rounded_lt_stdblack", sans-serif;
	font-size: 54pt;
}

h2 {
	font-family: "helvetica_rounded_lt_stdblack", sans-serif;
	font-size: 36pt;
}

h3 {
	font-family: "helvetica_rounded_lt_stdblack", sans-serif;
}

p {
	font-family: "helvetica_neue_lt_std65Md", sans-serif;
	font-size: 15pt;
}

a {
	font-family: "helvetica_neue_lt_std65Md", sans-serif;
	color: #fff;
	text-decoration: none;
}

/* NAVIGATION */
nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-image: url(images/nav-bricks.png);
	margin-bottom: 3%;
}

nav li {
	list-style-type: none;
	display: inline;
	margin: 0 20px;
}

nav li a {
	color: #c3382f;
	text-decoration: none;
	font-family: "helvetica_rounded_lt_stdblack", sans-serif;
}

nav li a:hover,
nav ul li:nth-child(9) a,
nav ul li:nth-child(7) a {
	color: black;
}

nav img {
	width: 50%;
	margin: 10px 0px;
}

nav ul li:nth-child(9),
nav ul li:nth-child(7),
nav ul li:nth-child(8) {
	margin: 0px;
}

.active {
	padding: 10px;
	background-color: #c7d770;
	border-radius: 30px;
}

.operation-btn {
	padding: 1px 10px;
}

.video-container {
	width: 80%; /* Largeur à 80% de la largeur de l'écran */
	height: 60vh; /* Hauteur à 45% de la hauteur de l'écran */
	overflow: hidden;
	margin: auto; /* Supprime la marge par défaut */
	position: relative;
	left: 5; /* Déplacement de 10% vers la gauche */
	border: 15px solid #c3382f; /* Ajout d'une bordure noire de 2 pixels */
	border-radius: 8px;
	margin-bottom: 10%;
}

.virtual {
	text-align: center;
}

.chest {
	width: 40%;
	height: 40%;
	border: 15px solid #c7d770;
	border-radius: 8px;
	margin-top: 10%;
}

.target-group {
	display: flex;
	flex-flow: row;
	justify-content: space-around;
	margin-bottom: 8%;
}

.target-group-text {
	width: 50%;
}

header,
.course {
	text-align: center;
}

header img {
	width: 100%;
	margin-top: 1.5%;
}

.course h2 {
	margin-top: -1.5%;
}

.course p {
	width: 75%;
	margin: 0 auto;
}

.kitchen {
	width: 40%;
	border: 15px solid #c3382f;
	border-radius: 8px;
	margin: 3% 0% 8% 0%;
}

.carousel {
	margin: 0 0 8% 20%;
}

.images_out {
	width: 700px;
	height: 400px;
	overflow: hidden;
	border: 15px solid #c3382f;
	margin: 25px;
	border-radius: 8px;
}

.images_in {
	display: flex;
	animation-duration: 30s;
	animation-name: before_after;
	animation-iteration-count: infinite;
}

@keyframes before_after {
	0% {
		transform: translateX(0px);
	}
	20% {
		transform: translateX(-700px);
	}
	40% {
		transform: translateX(-1400px);
	}
	60% {
		transform: translateX(-2100px);
	}
	80% {
		transform: translateX(-2800px);
	}
	100% {
		transform: translateX(0px);
	}
}

.target {
	display: flex;
	margin-bottom: 7%;
}

.target .carousel_2 {
	width: 50%;
	margin-top: 2%;
}

.target div {
	width: 70%;
}

.out2 {
	width: 400px;
	height: 650px;
	border-color: #c7d770;
}

.bottom-stripe {
	width: 100%;
	margin-bottom: 2%;
}

.sponsors {
	display: flex;
	justify-content: space-around;
}

.sponsors img {
	width: 80%;
}
/* RESPONSIVE */

@media screen and (max-width: 376px) {
	h1 {
		font-size: 30pt;
	}

	h2 {
		font-size: 24pt;
	}

	p {
		font-size: 10pt;
	}

	nav ul {
		flex-direction: column;
		left: 0;
		width: 100%;
	}

	nav img {
		width: 70%;
		margin-top: 15px;
	}

	nav li {
		margin: 10px 0;
	}

	.active,
	.operation-btn {
		padding: 5px;
	}

	.wrapper {
		width: 90%;
		margin: 0 auto;
	}

	header img {
		width: 100%;
		margin-top: 5%;
	}

	.out2 {
		border: 5px solid #c7d770;
	}

	.images_out {
		width: 100%;
		height: 40vh;
		margin-left: -7%;
	}

	.target,
	.target-group {
		flex-direction: column;
	}
	.target div {
		width: 350px;
		max-width: none;
	}

	.target-group-text {
		text-align: center;
		margin: auto;
		width: 100%;
	}

	.video-container {
		margin-bottom: 15%;
		border: 5px solid #c3382f;
		height: 40vh;
	}

	.chest {
		width: 50%;
		border: 5px solid #c7d770;
		margin: auto;
		margin-bottom: 15%;
	}

	.kitchen {
		width: 50%;
		border: 5px solid #c3382f;
		margin-bottom: 15%;
	}

	.goal {
		text-align: center;
	}

	.bottom-stripe {
		margin-bottom: 5%;
	}

	.sponsors a {
		width: 30%;
	}
	.sponsors {
		flex-wrap: wrap;
	}
}

@media screen and (max-width: 768px) {
	.target-group {
		flex-flow: column;
	}

	.target-group-text {
		text-align: center;
		margin: auto;
		width: auto;
	}

	.chest {
		margin: auto;
		width: 50%;
		margin-bottom: 10%;
	}

	.kitchen {
		width: 50%;
		margin-bottom: 15%;
	}
}
