body {
	background-color: #efdfd1;
	background-image: url(images/bricks\ bg.png);
}

/* NAVIGATION */
nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

nav li {
	list-style-type: none;
	display: inline;
	margin: 0 20px;
}

nav li a {
	color: #c3382f;
	text-decoration: none;
}
nav img {
	width: 70%;
}

/* TYPOGRAPHY */
@import url("https://fonts.cdnfonts.com/css/helvetica-neue-lt-pro-2");
@import url(https://db.onlinewebfonts.com/c/7515664cb5fad83d8ce956ad409ccbb7?family=Helvetica+Rounded+LT+Std);

h1 {
	font-family: "Helvetica Rounded LT Std", sans-serif;
	font-size: 45pt;
}

h2 {
	font-family: "Helvetica Rounded LT Std", sans-serif;
	font-size: 36pt;
}

h3 {
	font-family: "Helvetica Rounded LT Std", sans-serif;
}

h4 {
	font-family: "Helvetica Rounded LT Std", sans-serif;
}

p {
	font-family: "Helvetica Neue", sans-serif;
	font-size: 18pt;
}

a {
	font-family: "Helvetica Neue", sans-serif;
	color: #c3382f;
}

li {
	font-family: "Helvetica Neue", sans-serif;
}

nav li a {
	font-family: "Helvetica Rounded LT Std", sans-serif;
}
