body {
	margin: 0 auto;
	width: 95%;
}

/* NAVIGATION */
nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

nav li {
	display: inline;
	margin: 0 20px;
}

nav li a {
	color: #c3382f;
	text-decoration: none;
}

nav li a:hover {
	color: #000;
}

nav img {
	width: 50%;
	margin-top: 30px;
}

nav ul li:last-child a,
nav ul li:nth-child(7) a {
	color: #000;
}

nav ul li:last-child,
nav ul li:nth-child(7) {
	margin: 0px;
}

.active {
	padding: 10px;
	background-color: #c7d770;
	border-radius: 30px;
}

.home-button {
	padding: 1px 10px;
	background-color: #c7d770;
	border-radius: 30px;
}

/* TYPOGRAPHY */
@import url("https://fonts.cdnfonts.com/css/helvetica-neue-lt-pro-2");
@import url(https://db.onlinewebfonts.com/c/7515664cb5fad83d8ce956ad409ccbb7?family=Helvetica+Rounded+LT+Std);

h1 {
	font-family: "Helvetica Rounded LT Std", sans-serif;
	font-size: 100pt;
	color: #c3382f;
	font-weight: bold;
}

h2 {
	font-family: "Helvetica Rounded LT Std", sans-serif;
	font-size: 36pt;
}

h3 {
	font-family: "Helvetica Rounded LT Std", sans-serif;
	color: #c3382f;
	font-size: 25pt;
}

h4 {
	font-family: "Helvetica Rounded LT Std", sans-serif;
}

p {
	font-family: "Helvetica Neue", sans-serif;
	font-size: 18pt;
}

a {
	font-family: "Helvetica Neue", sans-serif;
	color: #c3382f;
}

li {
	font-family: "Helvetica Neue", sans-serif;
}

nav li a {
	font-family: "Helvetica Rounded LT Std", sans-serif;
}

/*BODY*/
.intro-house {
	display: flex;
	flex-flow: row-reverse;
	justify-content: space-evenly;
}

.house {
	width: 80%;
	margin-bottom: 10%;
}

.vrede {
	width: 200%;
	position: relative;
	margin-top: -18%;
}

.vrede-streep {
	width: 150%;
	position: relative;
	margin-top: 45%;
}

h3 {
	margin-left: 20%;
	margin-top: -10%;
}

.doelgroep {
	display: flex;
}

.doelgroep-text {
	margin-left: 10%;
	margin-right: 5%;
}

.huis-vrede {
	margin-left: 5%;
	margin-bottom: 5%;
}

.historiek {
	display: flex;
	flex-flow: row-reverse;
}

.historiek-text {
	margin-left: 5%;
}

.eetzaal {
	margin-right: 5%;
	margin-left: 10%;
	margin-bottom: 10%;
}

.extra {
	color: #000;
	background-color: #c7d770;
	padding: 10px 15px;
	border-radius: 20px;
	text-decoration: none;
	font-weight: bold;
}

.bottom-streep {
	width: 100%;
	margin-bottom: 2%;
}

.sponsors {
	display: flex;
	justify-content: space-evenly;
}

.sponsors img {
	width: 20%;
}

/*CAROESEL*/
/*home*/
/*❌*/
/*historiek*/
.carousel {
	margin-right: 5%;
	margin-left: 5%;
	margin-top: -50px;
	margin-bottom: 5%;
}
.images_out_1 {
	width: 550px;
	height: 480px;
	margin-left: 700px;
	overflow: hidden;
	margin: 25px;
	border-radius: 8px;
	padding: 7px 15px #111;
}
.images_in_1 {
	display: flex;
	animation-duration: 15s;
	animation-name: before_after;
	animation-iteration-count: infinite;
}
@keyframes before_after {
	0% {
		transform: translateX(0px);
	}
	25% {
		transform: translateX(-580px);
	}
	50% {
		transform: translateX(-1150px);
	}
	75% {
		transform: translateX(-1720px);
	}
	100% {
		transform: translateX(-2290px);
	}
}

/*RESPONSIVE*/
@media screen and (max-width: 376px) {
	h1 {
		font-size: 30pt;
	}

	h3 {
		font-size: 15pt;
		margin-top: 50%;
		width: 200%;
		margin-left: 50%;
		margin-bottom: 40%;
	}

	.house {
		margin-right: 50%;
		width: 55%;
		height: 55%;
	}

	.intro-text {
		margin-left: 50%;
		margin-top: -5%;
	}

	.vrede-streep {
		width: 180%;
		height: 3%;
		margin-top: 60%;
		margin-bottom: -5%;
	}

	h2 {
		font-size: 20pt;
	}

	.huis-vrede {
		width: 50%;
		height: 50%;
		margin-left: 25%;
		margin-bottom: -2%;
	}

	.doelgroep {
		flex-flow: column;
	}

	.doelgroep-text {
		text-align: center;
		margin-bottom: 20%;
		margin-left: 4%;
	}

	p {
		font-size: 10pt;
	}

	.eetzaal {
		width: 70%;
		height: 70%;
		margin-left: 15%;
	}

	.historiek {
		flex-flow: column;
	}

	.historiek-text {
		text-align: center;
		margin-left: 5%;
		width: 90%;
		margin-top: -10%;
	}

	a {
		font-size: 10pt;
	}

	.bottom-streep {
		margin-top: 10%;
	}

	.sponsors img {
		width: 30%;
	}

	.carousel {
		margin-left: -15%;
	}

	/*HAMBURGER MENU*/
	/*❌*/
}
