body {
	background-color: #efdfd1;
	background-image: url(images/bricks\ bg.png);
	margin: 0 auto;
	width: 95%;
}

/* NAVIGATION */
nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

nav li {
	display: inline;
	margin: 0 20px;
}

nav li a {
	color: #c3382f;
	text-decoration: none;
}

nav li a:hover {
	color: #000;
}

nav img {
	width: 80%;
	margin-top: 30px;
}

nav ul li:last-child a,
nav ul li:nth-child(7) a {
	color: #000;
}

nav ul li:last-child,
nav ul li:nth-child(7) {
	margin: 0px;
}

.active {
	padding: 10px;
	background-color: #c7d770;
	border-radius: 30px;
}

/* TYPOGRAPHY */
@import url("https://fonts.cdnfonts.com/css/helvetica-neue-lt-pro-2");
@import url(https://db.onlinewebfonts.com/c/7515664cb5fad83d8ce956ad409ccbb7?family=Helvetica+Rounded+LT+Std);

h1 {
	font-family: "Helvetica Rounded LT Std", sans-serif;
	font-size: 45pt;
}

h2 {
	font-family: "Helvetica Rounded LT Std", sans-serif;
	font-size: 36pt;
}

h3 {
	font-family: "Helvetica Rounded LT Std", sans-serif;
}

h4 {
	font-family: "Helvetica Rounded LT Std", sans-serif;
}

p {
	font-family: "Helvetica Neue", sans-serif;
	font-size: 18pt;
}

a {
	font-family: "Helvetica Neue", sans-serif;
	color: #c3382f;
}

li {
	font-family: "Helvetica Neue", sans-serif;
}

nav li a {
	font-family: "Helvetica Rounded LT Std", sans-serif;
}

/*BODY*/
.steun-ons-text {
	width: 50%;
	text-align: center;
	margin-bottom: 5%;
	/*link naar mail secretariaat❌*/
}

.steun-ons div {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 10%;
}

.doek {
	width: 40%;
}

.steun {
	display: flex;
	justify-content: space-evenly;
	margin-top: 15%;
}

.steun img {
	width: 20%;
}

/*RESPONSIVE*/
@media screen and (max-width: 376px) {
	.roof {
		width: 60%;
	}

	h1 {
		font-size: 20pt;
	}

	p {
		font-size: 10pt;
	}

	/*HAMBURGER MENU*/
	/*❌*/
}
