/* BUTTONS */

.btn-primary {
	border-radius: 30px;
	padding: 10px;
	border: 2px solid #00878b;
	text-decoration: none;
	color: #00878b;
	font-weight: bold;
}

.btn-secondary {
	border-radius: 30px;
	padding: 10px;
	border: 2px solid #f5ccc7;
	text-decoration: none;
	color: #f5ccc7;
	font-weight: bold;
}

.btn-primary:hover {
	background-color: #00878b;
	color: #fff;
}

.btn-secondary:hover {
	background-color: #f5ccc7;
	color: #fff;
}
