/* BUTTONS */

.btn-primary {
	border-radius: 30px;
	padding: 10px;
	text-decoration: none;
	background-color: #c8d771;
	font-weight: bold;
	color: #000;
	border: 2px solid #c8d771;
}

.btn-secondary {
	border-radius: 30px;
	padding: 10px;
	border: 2px solid #c3382f;
	text-decoration: none;
	color: #c3382f;
	font-weight: bold;
}

.btn-primary:hover {
	border: 2px solid #c8d771;
	background-color: #fff;
}

.btn-secondary:hover {
	background-color: #c3382f;
	color: #fff;
}
