/* NAVIGATION */

nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

nav li {
	display: inline;
	margin: 0 20px;
}

nav li a {
	color: #c3382f;
	text-decoration: none;
}

nav li a:hover {
	color: #000;
}

nav img {
	width: 80%;
	margin-top: 30px;
}

nav ul li:last-child a,
nav ul li:nth-child(7) a {
	color: #000;
}

nav ul li:last-child,
nav ul li:nth-child(7) {
	margin: 0px;
}

.active {
	padding: 10px;
	background-color: #c7d770;
	border-radius: 30px;
}
