/* NAVIGATION */

nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

nav li {
	list-style-type: none;
	display: inline;
	margin: 0 20px;
}

nav li a {
	color: #c3382f;
	text-decoration: none;
}
nav img {
	width: 70%;
}
