/* TYPOGRAPHY */
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&family=Salsa&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&family=Raleway&family=Salsa&display=swap");

h1 {
	font-family: "Salsa", sans-serif;
	font-size: 54pt;
}

h2 {
	font-family: "Salsa";
	font-size: 36pt;
}

h3 {
	font-family: "Salsa";
}

h4 {
	font-family: "Salsa";
}

p {
	font-family: "Raleway", sans-serif;
	font-size: 18pt;
}

a {
	font-family: "Raleway", sans-serif;
	color: #00878b;
}

li {
	font-family: "Raleway", sans-serif;
}
