@import url("https://fonts.cdnfonts.com/css/helvetica-neue-lt-pro-2");
@font-face {
	font-family: "Helvetica Rounded LT Std Black";
	src: url("https://db.onlinewebfonts.com/t/bae3d8bd0621c2cc191f2d9926f4b382.eot");
	src: url("https://db.onlinewebfonts.com/t/bae3d8bd0621c2cc191f2d9926f4b382.eot?#iefix")
			format("embedded-opentype"),
		url("https://db.onlinewebfonts.com/t/bae3d8bd0621c2cc191f2d9926f4b382.woff2")
			format("woff2"),
		url("https://db.onlinewebfonts.com/t/bae3d8bd0621c2cc191f2d9926f4b382.woff")
			format("woff"),
		url("https://db.onlinewebfonts.com/t/bae3d8bd0621c2cc191f2d9926f4b382.ttf")
			format("truetype"),
		url("https://db.onlinewebfonts.com/t/bae3d8bd0621c2cc191f2d9926f4b382.svg#Helvetica Rounded LT Std Black")
			format("svg");
}

* {
	font-family: "Helvetica Neue", sans-serif;
	scroll-behavior: smooth;
}
.wrapper {
	width: 85%;
}
/*Typography*/
h1 {
	font-family: "Helvetica Rounded LT Std", sans-serif;
	font-size: 54pt;
}

h2 {
	font-family: "Helvetica Rounded LT Std", sans-serif;
	font-size: 36pt;
}

h3 {
	font-family: "Helvetica Rounded LT Std", sans-serif;
}

p {
	font-family: "Helvetica Neue", sans-serif;
	font-size: 16pt;
}

a {
	font-family: "Helvetica Neue", sans-serif;
	color: #fff;
	text-decoration: none;
}

/* NAVIGATION */
nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

nav li {
	list-style-type: none;
	display: inline;
	margin: 0 20px;
}

nav li a {
	color: #c3382f;
	text-decoration: none;
	font-family: "Helvetica Rounded LT Std", sans-serif;
}
nav img {
	width: 70%;
}

nav li a:hover {
	color: black;
	text-decoration: none;
	padding: 10px;
	background-color: #c7d770;
	border-radius: 30px;
}
.active {
	padding: 10px;
	background-color: #c7d770;
	border-radius: 30px;
}
.active:hover {
	background-color: white;
}
header {
	text-align: center;
	width: auto;
	margin-left: 170px;
}

.verloop {
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: 100px;
}
.verloop h2 {
	width: 100%;
	margin-left: 110px;
	margin-top: -10px;
	font-size: 25pt;
}

.verloop div {
	width: 55%;
	margin-left: 500px;
}

.verloop div p {
	font-size: 12pt;
	width: 70%;
	margin-right: -45px;
}
.tekst {
	width: 48%;
	margin-left: 450px;
	margin-top: -75px;
	margin-bottom: 70px;
}
.tekst_1 {
	font-size: 12pt;
}
.carousel {
	margin-left: 380px;
	margin-top: -50px;
	margin-bottom: 100px;
}
.images_out_1 {
	width: 700px;
	height: 400px;
	margin-left: 500px;
	overflow: hidden;
	border: 6px solid red;
	margin: 25px;
	border-radius: 8px;
	padding: 7px 15px #111;
	background-color: #111;
}
.images_in_1 {
	display: flex;
	animation-duration: 15s;
	animation-name: before_after;
	animation-iteration-count: infinite;
}
@keyframes before_after {
	0% {
		transform: translateX(0px);
	}
	20% {
		transform: translateX(-700px);
	}
	40% {
		transform: translateX(-1400px);
	}
	60% {
		transform: translateX(-2100px);
	}
	80% {
		transform: translateX(-2800px);
	}
	100% {
		transform: translateX(0px);
	}
}
.doel {
	display: flex;

	margin-bottom: 100px;
}

.doel div {
	width: 60%;
}
.doel div p {
	font-size: 12pt;
}

.hall {
	height: 250px;
	margin-top: 50px;
	margin-left: 40px;
}
.kayak {
	height: 350px;
	margin-left: 60px;
}

.btn1 {
	font-size: 15px;
	color: white;
	background: #c7d770;
	text-decoration: none;
	padding: 10px 18px;
	text-transform: uppercase;
	display: inline-block;
	margin-top: 20px;
	letter-spacing: 2px;
	transition: 0.5s;
	margin-left: 10px;
}
.carousel_2 {
	margin-left: 150px;
	margin-right: -150px;
}
.images_out_2 {
	width: 400px;
	height: 650px;
	overflow: hidden;
	border: 6px solid #c7d770;
	margin: 25px;
	border-radius: 8px;
	padding: 7px 15px #111;
	background-color: #111;
}
.images_in_2 {
	display: flex;
	animation-duration: 15s;
	animation-name: before_after;
	animation-iteration-count: infinite;
}
@keyframes before_after {
	0% {
		transform: translateX(0px);
	}
	20% {
		transform: translateX(-700px);
	}
	40% {
		transform: translateX(-1400px);
	}
	60% {
		transform: translateX(-2100px);
	}
	80% {
		transform: translateX(-2800px);
	}
	100% {
		transform: translateX(0px);
	}
}
.btn1:hover {
	color: #c7d770;
	background-color: white;
}
.bottom-streep {
	width: 100%;
	margin-bottom: 2%;
}

.sponsors {
	display: flex;
	justify-content: space-evenly;
}

.sponsors img {
	width: 22%;
}
